<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Making things do things</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
<h1>Making things do things</h1>
<p>That's what I do.</p>
</div>
	
</body>
</html>
